:root {
    --colorPrincipal: #0DCAF0;
}

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid lightblue;*/
}

/* Aplica scroll suave dentro de la página */
html {
    scroll-behavior: smooth;
}

main {
    background-color: black;
}

.custom-margin {
    margin-left: 40px;
    margin-right: 40px;
}

.colorT {
    background-color: var(--colorPrincipal);
}

/* Define todos los tipos de letras de la familia Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}  

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Deficiones de la barra de navegación */
.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.custom-navbar .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.navbar-toggler {
    border: 1pt solid #ffffff;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    border: 1pt solid #DDDDDD;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Definiciones del carrusel */
.carousel-indicators {
    position: relative;
    bottom: 0px;
    width: 100px;
}

/* Color de los indicadores adicionales debajo del carrusel */
.carousel-indicators [data-bs-target] {
    background-color: var(--colorPrincipal); 
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* Color del indicador activo del carrusel*/
.carousel-indicators .active {
    background-color: var(--colorPrincipal); 
}

/* Definiciones de las tarjetas (cards) */
.card {
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.row.custom-margin {
    display: flex;
    flex-wrap: wrap;
}

.row.custom-margin > .col-12.col-md-4 {
    display: flex;
}

/* redondea los campos del formulario */
#name {
    border-radius: 5px;
}

#apellido {
    border-radius:  5px;
}

/* Ajusta caracteristicas del boton "Enviar" del formulario */
.btn {
    color: white;
    background-color: var(--colorPrincipal);
    border-radius:  5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
}

.tooltip-inner {
    background-color: var(--colorPrincipal);
    font-weight: bold;
    color: black; 
}

/* Cambiar el color del fondo del tooltip */
.tooltip-inner {
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
}

/* Color de la flecha del tooltip */
.tooltip .tooltip-arrow::before {
    background-color:  whitesmoke;  
}

#enviarMensaje {
    background-color: var(--colorPrincipal);
    border: 1px solid var(--colorPrincipal);
    border-radius: 5px;
}

/* Define características adicionales del footer */
.contenedor-footer {
    background-color: var(--colorPrincipal);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.contenedor-footer .row {
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor-footer .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media para tamaños xs y sm */
@media (max-width: 768px) { 

    #quienesSomos {
        display: none;
    }

    .contenedor-footer .row {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedor-footer .col-12 {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-footer .col-12.col-md-6 {
        max-width: 50%;
    }

    .contenedor-footer .d-flex {
        flex-direction: row;
    }
}

/* @media para tamaños grandes*/
@media (min-width: 1366px) {
    .custom-margin {
        max-width: 100%;
        margin-left: 150px;
        margin-right: 150px;
    }
}